* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(177, 229, 245);
}

nav {
    width: 100%;
    height: 10vh;
    background-color: rgb(66, 180, 218);
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
}

li {
    font-size: 4vh;
    color: white;
}
/**/
header{
    height: 100vh;
    position: relative;
    overflow: hidden;
   

    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}
#squid{
    width: 25%;
    bottom: 0;
    transition: bottom right .5s ease-in-out;
}
#inkling{
    width: 25%;
}
.titulo{
    color: rgb(113, 226, 132);
    font-size: 10vh;

    position: absolute;
    top: 25%;
    right: 0;

    transform: translateY("-50%");

    z-index: 100;
    margin: 2vh;

    text-shadow: 5px 0px 0px  rgb(238, 31, 176);
    transition: right .2s ease-in-out;
}


main{
    height: 100vh;
}