*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
html{
    overflow: hidden;
}
body{
    width: 100vw;
    height: 200vh;
    perspective: 2px;
    transform-style: preserve-3d;
    background-color: aquamarine;
    overflow-x: hidden;
    overflow-y: scroll;

}
.contenedor-1,.espacio{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
.contenedor-1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../resources/img/fondo.png");
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.castle{
    width: 40%;
    left: 60%;
    position: absolute;

}
.contenedor-1::after{
    content: "";
    width: 20%;
    height: 20%;
    position: absolute;
    margin-left: 30%;
    margin-top: 15%;
    background-image: url("../resources/img/palm.png");
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.contenedor-1.castle{
    width: 30%;
    height: 50%;
    transform: translateZ(-.5px) scale(1.5,1.6) translate(-33%,10%) ;
}
.espacio{
    height: 200vh;
    background-color: rgb(84, 6, 230);
}